.logo {
    width: 50px;
}
.nav-link, a {
    color: #ffff;
}

.background-negro {
    background-color: black;
}

@media (max-width: 576px) {
    #quienes-somos {
        display: none;
    }
}
.fas, .fab {
    font-size: 28px;
    padding: 5px;
}